<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Scalar</title>
</head>
<body>
    <div style="margin: 10px; padding: 10px;">
        <form method="post" action="/topics">
            <input name="id" type="number">ID</input> <br/>
            <input type="text" name = "title">Title</input> <br/>
            <input name="difficulty" type="text">Difficulty</input> <br/>
            <button type="submit">Add Topic</button>
        </form>
    </div>

</body>
</html>